body {
    background-color: #F8F7FF;
    text-align: center;
}

.cat {
    font-family: fantasy;
}

ol {
    padding: 0;
}

.list {
    font-weight: bold;
}

.secret {
    opacity: 0.5;
}

li {
    list-style-type: none;
    font-weight: normal;
}

table {
    border-width: 1px;
    border-style: solid;
    border-color: grey;
    justify-content: center;
}

tr {
    border-width: 1px;
    border-style: solid;
    border-color: grey;
}

td {
    border-width: 1px;
    border-style: solid;
    border-color: grey;
}